<!DOCTYPE HTML>
<html ng-app="snsApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <!-- 外部ライブラリ -->
  <script src="lib/3rd/openfb.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

  <script>
    var app = angular.module("snsApp", ["onsen"]);
    app.controller("snsController", function($scope, $http){
        $scope.movePage = function(){
            console.log("move");
            if(checkToken() == 0){
                ons.notification.alert("ログインしていない");
            }
            else if(checkToken() == 1){
                ons.notification.alert("ページ遷移");
            }
        }
        
        /*
        * Facebook連携
        */
        fb_init();
        
        openFB.init({
            appId: '1804414776482335',
            tokenStore: window.localStorage,
            accessToken: window.localStorage.accessToken
        });
        $scope.login_fb = function () {
            openFB.login(function (data) {
                fb_init();
                console.trace("token: " + localStorage.fbAccessToken);
            }, 
            {
                scope: 'email,public_profile'
            });
        }
        
        $scope.logout_fb = function () {
            openFB.logout(function () {
                fb_init();
                console.trace("token: " + localStorage.fbAccessToken);
            });
        }
        
        function fb_init() {
            openFB.api({path: '/me', 
                success: function (me) {
                    /*for(var key in me){
                        console.trace(key + ": " + me[key]);
                    }*/
                },
                error: function (err) {
                    /*for(var key in err){
                        console.trace(key + ": " + err.key);
                    }*/
                }
            }); 
        }
        
        //トークンを保持しているかチェックする
        //0: 未所持, 1: 所持
        function checkToken(){
            var res = 0;
            if(localStorage.fbAccessToken != undefined && localStorage.fbAccessToken != ""){
                res = 1;
            }
            console.log("loginState: " + res);
            return res;
        }
        
    });
  </script>
</head>
<body>
  <ons-page ng-controller="snsController">
    <ons-button ng-click="login_fb()">login_Facebook</ons-button>
    <ons-button ng-click="logout_fb()">logout_Facebook</ons-button>
    <ons-button ng-click="movePage()">ページ移動</ons-button>
  </ons-page>
</body>
</html>
